<label>Course name</label>
<!--<input-->
  <!--type="text"-->
  <!--class="form-control"-->
  <!--(input)="onUpdateCourseName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="courseName">
<!--<p>{{ courseName }}</p>-->
<button class="btn btn-info"
  [disabled]="allowNewCourse"
  (click)="onCreateCourse()" >Add Course</button>
<!--<p>{{courseCreationStatus}}</p>-->
<p *ngIf="courseCreated">Course was created. The name is {{courseName}}</p>
<app-course></app-course>
<app-course></app-course>
<app-course></app-course>
